{% load static %}
<html>
    <head>
        <title>{% block title %}Internet Shop{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    </head>
    <body>
    <div class="container">
        <h1><a href="{% url 'index' %}">Internet shop </a></h1>
    </div>



<h3>Categories:</h3>
    <div class="container">
        <nav>
            <ul>
                {% for  cat in categories %}
                <li><div class="header"><a href="{% url 'category_details' category_pk=cat.id  %}">{{cat.name}}</a></div></li>
                {% endfor %}
            </ul>
        </nav>
    </div>

<h3>Registration</h3>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'user_basket' user_pk=user.id %}">user basket</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>